{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}



<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'blog:create' %}">Добавить запись</a>
</div>
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card h-100">
            <img src="{{ object.image|media_path }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text"></p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a href="{% url 'blog:view' object.pk %}" class="btn btn-outline-secondary border-1">Просмотр
                            </a>
                            <a href="{% url 'blog:edit' object.pk %}" class="btn btn-outline-secondary border-1">Именить
                            </a>
                            <a href="{% url 'blog:delete' object.pk %}" class="btn btn-outline-secondary border-1">Удалить
                            </a>
                        </div>
                    </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}