{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
{% for object in object_list %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<title>{{ object.name|title }} - информация о товаре </title>
{% endfor %}
<div class="container py-3">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-3 fw-normal text-body-emphasis">Информация о товаре</h1>

        </div>
    </header>


    <div class="card" style="width: 45rem;">
        {% for object in object_list %}
        <img src="{{ object.preview|media_path }}" class="card-img-top">
        <div class="card-body">
            <h2 class="card-title">{{ object.name|title }}</h2>
            <h3 class="card-title">{{ object.price }}</h3>
            <p class="card-text">{{ object.description }}</p>
            <a href="#" class="btn btn-primary">Купить</a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}